.contact-general #outer-wrapper {
	background: #fff;
}
.contact-general #outer-content .left,
.contact-general #outer-content .right {
	display: inline-block;	
}
.contact-general #outer-content .left {
	float: left;
	width: 458px;
	padding: 55px 0 0 57px;
	margin: 6px 0 0 0;
	position: relative;
	z-index: 0;
}
.contact-general #outer-content .right {
	float: right;
	width: 260px;
	padding: 55px 145px 0 0;
}
.contact-general #outer-content .right .right_header {
	position: relative;
	margin: 0;
	top: -40px;
	left: -111px;
	line-height: 40px;
	font-size: 29px;
	color: #999;
	z-index: 1;
}
.contact-general #outer-content .right .right_header h1 {
	background: url/r/langCSS/EN/images/bg_imgs/we_are.png) 0 0 no-repeat;
	width: 375px;
	height: 75px;
	z-index: 1;
	text-indent: -999em;
}
.contact-general #outer-content .right .right_content {
	position: relative;
	top: -30px;
	text-align: justify;
}
.contact-general #outer-content .right .right_content p {
	margin: 0 0 2em 0;
}
.contact-general #outer-content {
	min-height: 630px;
}
.contact-general h1.invalid_header {
	color: #9B1112;
    font-size: 24px;
    line-height: 35px;
    margin: 0 0 10px 0;
    text-align: left;
}
.contact-general #effect {
	padding: 0 45px 0 16em;
	/*margin-bottom: 25px;*/
}
.contact-general #quotes {
	height: 540px;
}
.contact-general #effect p {
	margin-bottom: 1em;
}
.contact-general #quotes strong {
	font-weight: bold;
}
.contact-general #quotes h3 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}