#about_popup {
  width:770px;
  width: 750px;
  height:348px;
  height: 460px;
  padding:5px;
  background:#333;
  position:absolute;
  left:35px;
  bottom:30px;
  display:none;
}
#contact_popup {
background: url(/r/langCSS/IT/images/bg_imgs/menu-bg-2.png) 0 0 repeat;
  width:860px;
  width: 900px;
  height: 185px;
  position:absolute;
  left:0;
  bottom:-73px;
  bottom:-6px;
  display:none;
  padding-bottom: 5px;
  z-index: 1;
  -moz-box-shadow: 0px -3px 6px 1px #ccc;
  -webkit-box-shadow: 0px -3px 6px 1px #ccc;
  box-shadow: 0px -3px 6px 1px #ccc;
  /*-moz-box-shadow: 0px -9px 14px -2px #ccc;
  -webkit-box-shadow: 0px -9px 14px -2px #ccc;
  box-shadow: 0px -9px 14px -2px #ccc;*/
}
#bottom_bar {
  height:30px;
  position:relative;
  bottom:30px;
}