@charset "utf-8";
/* Jary */
/* November 6, 2012 */

/* Common */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
html,body{width:100%;min-height:100%;}
body{font-family:Arial,sans-serif;color:#333;font-size:12px;line-height:170%;-webkit-text-size-adjust:none;background:#55c2c2;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,a:visited{color:#369;text-decoration:none;}
a:focus,:focus{outline:none;}
a:active,:active{outline:none;}
a:hover{color:#369;}
li{list-style:none;}
input,textarea,button{font-family:inherit;}
input[type="submit"]{cursor:pointer;}
button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
em{font-style:normal;}
caption,th,td{font-weight:normal;text-align:left;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

.f-l{float:left;}
.f-r{float:right;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'\20';display:block;clear:both;}
.wrapper{margin:0 auto;width:1080px;}
.mar-b{margin-bottom:10px;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hide{display:block;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;}
.hidden{display:none}
.show{display:block}


/* Header */
#header{position:fixed;top:0;left:0;width:100%;height:120px;z-index:99;background:#fff;}
#header .vive-logo{width:160px;height:50px;margin:30px 0 40px 60px;background:url(../images/vive-logo.png) no-repeat;}
#header .vive-logo a{display:block;width:160px;height:50px;}
#header .vive-language{margin:41px 40px 0 0;height:25px;line-height:25px;background:url(../images/vive-languagebg.png) no-repeat;position:relative;z-index:999;}
#header .vive-language dt{padding-right:50px;margin-left:30px;cursor:pointer;background:url(../images/vive-languagebg.png) right 0 no-repeat;margin-right:-10px;}
#header .vive-language dd{background:#f9f9f9;margin-top:1px;border:1px solid #ddd;display:none;
													border-radius:5px;
													-webkit-border-radius:5px;
													-moz-border-radius:5px;
													-o-border-radius:5px;}
#header .vive-language dd a{display:block;height:25px;padding:0 30px;}
#header .vive-language dd a:hover{background:#eee;}
#header .vive-menu{height:50px;margin:30px 0 40px 0;}
#header .vive-menu a,#header .vive-menu a:hover{display:inline-block;height:50px;line-height:64px;overflow:hidden;padding:0 20px;margin-left:40px;font-size:15px;color:#666;}
#header .vive-menu a.current{color:#333;font-weight:bold;}
#header .vive-phone{padding-right:45px;}
#header .vive-phone strong{display:block;height:54px;padding-left:35px;background:url(../images/vive-menuicon.png) no-repeat;color:#fff;font-size:20px;}


/* Footer */
#footer{width:100%;}
#footer p{height:120px;line-height:120px;text-align:center;color:#000;background:#bebebe;}

/* Home */
#home{margin-top:120px;}
#home .slidebox{width:100%;height:538px;background:#55c2c2;overflow:hidden;position:relative;}
#home .slidecont{width:12345px;position:absolute;}
#home .slidecont li{float:left;width:1080px;color:#fff;}
#home .slidecont h2{font-size:48px;line-height:60px;padding:70px 0 20px 0;}
#home .slidecont p{font-size:15px;line-height:28px;margin:10px 0;}
#home .slidecont .pic{width:620px;margin-left:40px;}
#home .slidebtnbg{height:78px;position:absolute;left:0;bottom:0;background:#f99537;width:100%;}
#home .slidebtn{width:1080px;margin:0 auto;}
#home .slidebtn li{float:left;width:270px;height:78px;background:url(../images/vive-homeslidebtn.png) no-repeat;}
#home .slidebtn li.step1{background-position:0 0;}
#home .slidebtn li.step2{background-position:-270px 0;}
#home .slidebtn li.step3{background-position:-540px 0;}
#home .slidebtn li.step4{background-position:-810px 0;}
#home .slidebtn li span{display:block;width:200px;height:78px;line-height:78px;overflow:hidden;padding-left:70px;text-align:center;cursor:pointer;font-size:14px;color:#fff;}
#home .slidebtn li.current{cursor:default;}
#home .slidebtn li.step1.current span,#home .slidebtn li.step2.current span{background:url(../images/vive-currentbtn.png) no-repeat;}
#home .slidebtn li.step3.current span,#home .slidebtn li.step4.current span{background:url(../images/vive-currentbtn2.png) no-repeat;}

/* Work */
#work{background:#fff url(../images/vive-workbg.jpg) center bottom no-repeat;height:830px;}
#work .workbox h2{font-size:40px;text-align:center;line-height:100%;color:#333;padding:60px 0;}
#work .videobox{width:734px;height:420px;padding:6px 0 0 173px}

/* Contact */
#contact .formbox{background:#55c2c2;height:580px;width:100%;}
#contact .formbox h2{font-size:40px;text-align:center;line-height:100%;color:#fff;padding:90px 0;}
#contact .formbox span{margin-bottom:20px;width:50%;float:left;}
#contact .formbox form{display:block;width:900px;margin:0 auto;}
#contact .formbox label{display:inline-block;width:150px;color:#fff;}
#contact .formbox input{width:220px;background:#d0edea;border:1px solid #49a6a6;padding:2px;}
#contact .formbox input[type="submit"]{display:inline-block;width:auto;padding:5px 20px;color:#fff;font-size:14px;border:none;
																		 	 background:url(../images/vive-morebtnbg.png) repeat-x;
																		   background:-webkit-gradient(linear ,0 0,0 100%,color-stop(0,#f1ac3e),color-stop(1,#ed5f17));
																			 background:-moz-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);
																			 background:-o-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);}