@charset "utf-8";
/* Jary */
/* August 30, 2012 */

/* Common */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
html,body{width:100%;min-height:100%;}
body{font-family:Arial,sans-serif;color:#333;font-size:12px;line-height:170%;-webkit-text-size-adjust:none;background:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,a:visited{color:#369;text-decoration:none;}
a:focus,:focus{outline:none;}
a:active,:active{outline:none;}
a:hover{color:#369;}
li{list-style:none;}
input,textarea,button{font-family:inherit;}
input[type="submit"]{cursor:pointer;}
button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
em{font-style:normal;}
caption,th,td{font-weight:normal;text-align:left;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

.f-l{float:left;}
.f-r{float:right;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'\20';display:block;clear:both;}
.wrapper{margin:0 auto;width:1080px;}
.mar-b{margin-bottom:10px;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hide{display:block;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;}
.hidden{display:none}
.show{display:block}
#content{min-height:100%;}

@font-face{font-family:'titlefonts';src:url('../fonts/impact.eot');src:local('impact Regular'),local('impact'),url('../fonts/impact.ttf') format('truetype');}


/* Header */
#header{position:fixed;top:0;left:50%;margin-left:-540px;z-index:9;}
#header .vive-logo{width:160px;height:50px;margin:16px 0;background:url(../images/vive-logo.png) no-repeat;}
#header .vive-logo a{display:block;width:160px;height:50px;}
#header .vive-language{margin:28px 20px 0 0;height:25px;line-height:25px;background:url(../images/vive-languagebg.png) no-repeat;position:relative;z-index:999;}
#header .vive-language dt{padding-right:50px;margin-left:30px;cursor:pointer;background:url(../images/vive-languagebg.png) right 0 no-repeat;margin-right:-10px;}
#header .vive-language dd{background:#f9f9f9;margin-top:1px;border:1px solid #ddd;display:none;
													border-radius:5px;
													-webkit-border-radius:5px;
													-moz-border-radius:5px;
													-o-border-radius:5px;}
#header .vive-language dd a{display:block;height:25px;padding:0 30px;}
#header .vive-language dd a:hover{background:#eee;}
#header ul{position:relative;background:rgba(252,168,57,0.8);background:url(../images/vive-menubg.png) repeat\9;
					 box-shadow:0 2px 2px rgba(0,0,0,0.2);
					 -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
					 -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
					 -o-box-shadow:0 2px 2px rgba(0,0,0,0.2);}
#header li{height:54px;line-height:54px;}
#header .vive-menu{color:#fff;position:absolute;top:-3px;left:0;}
#header .vive-menu a,#header .vive-menu a:hover{display:inline-block;height:54px;line-height:60px;padding:0 30px;margin:0 20px;font-size:15px;color:#fff;}
#header .vive-menu a.current{background:rgba(255,255,255,0.6);background:url(../images/vive-menucurrentbg.png) repeat\9;color:#333;height:57px;}
#header .vive-phone{padding-right:45px;}
#header .vive-phone strong{display:block;height:54px;padding-left:35px;background:url(../images/vive-menuicon.png) no-repeat;color:#fff;font-size:20px;}


/* Container */
#content .contbox{background-position:center top;background-size:cover;width:100%;min-width:1080px;overflow:hidden;}

/* Footer */
#footer{margin-top:-55px;position:relative;z-index:99;min-width:1080px;}
#footer p{height:55px;line-height:55px;text-align:center;color:#fff;background:#000;}

/* Home */
#home{position:relative;}
#home .contbox{background-image:url(../images/vive-homebanner.jpg);}
#home .slidebox{width:530px;height:200px;overflow:hidden;background:rgba(44,44,44,0.25);background:url(../images/vive-boxbg.png) repeat\9;position:absolute;top:160px;}
#home .slidecont{width:12345px;position:absolute;}
#home .slidecont li{float:left;width:450px;padding:20px 30px 20px 50px;color:#fff;}
#home .slidecont h2{font-size:30px;font-family:"titlefonts";line-height:100%;}
#home .slidecont p{font-size:15px;line-height:24px;margin:10px 0;}
#home .slidecont .more,#home .slidecont .more:hover{display:inline-block;height:24px;line-height:24px;padding:0 20px;color:#fff;font-size:14px;
																										background:url(../images/vive-morebtnbg.png) repeat-x;
																										background:-webkit-gradient(linear ,0 0,0 100%,color-stop(0,#f1ac3e),color-stop(1,#ed5f17));
																										background:-moz-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);
																										background:-o-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);}
#home .slidebtn{height:10px;position:absolute;right:15px;bottom:10px;}
#home .slidebtn li{float:left;width:10px;height:10px;background:#f1f1f1;background:url(../images/vive-homeslidebtn.png) no-repeat\9;margin-left:10px;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;cursor:pointer;
									 border-radius:5px;
									 -webkit-border-radius:5px;
									 -moz-border-radius:5px;
									 -o-border-radius:5px;}
#home .slidebtn li.current{background:#f9b457;background:url(../images/vive-homeslidebtn.png) 0 -10px no-repeat\9;cursor:default;}

/* Contact */
#contact{position:relative;}
#contact .contbox{background-image:url(../images/vive-contactbanner.jpg);}
#contact .formbox{width:520px;background:rgba(44,44,44,0.60);background:url(../images/vive-boxbg.png) repeat\9;position:absolute;top:190px;padding:20px 30px 20px 50px;color:#fff;}
#contact .formbox span{display:block;margin-bottom:20px;}
#contact .formbox label{display:inline-block;width:150px;}
#contact .formbox input{width:220px;background:#ced0cd;border:1px solid #333;padding:2px;}
#contact .formbox input[type="submit"]{display:inline-block;width:auto;padding:5px 20px;color:#fff;font-size:14px;border:none;
																		 	 background:url(../images/vive-morebtnbg.png) repeat-x;
																		   background:-webkit-gradient(linear ,0 0,0 100%,color-stop(0,#f1ac3e),color-stop(1,#ed5f17));
																			 background:-moz-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);
																			 background:-o-linear-gradient(0 0 270deg,#f1ac3e 0,#ed5f17 100%);}