@charset "utf-8";
/* Jary */
/* July 4, 2012 */

/* Popup Box */
.videobox .close,.eventsbox .close{width:26px;height:26px;background:url(../images/popupboxclose-ie.png) no-repeat;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;}
.popupboxbg{background:#000;filter:alpha(opacity=50);}

/* Header */
#header .menu li .submenu{background:#000;filter:alpha(opacity=50);}
#header .menu li a,#header .menu li a:hover,#header .menu li .submenu a,#header .menu li .submenu a:hover{color:#fff;}

/* Container */
#sidebar{background:#000;filter:alpha(opacity=60);}
#sidebar .jScrollPaneTrack{background:#999;}
#sidebar .jScrollPaneDrag{background:#ccc;}

#content .jScrollPaneTrack{background:#aaa;}
#content .jScrollPaneDrag{background:#666;}	

#products .wrapper{background:url(../images/products-wrapper-ie.png) left top repeat-x;}

.business-compensationplan #sidebar h4 a,.business-compensationplan #sidebar h4 a:hover,.business-specialevents #sidebar h4 a,.business-compensationplan #sidebar h4 a:hover,.business-testimonials #sidebar h4 a,.business-testimonials #sidebar h4 a:hover,.business-specialevents #sidebar li a,.business-specialevents #sidebar li a:hover{color:#fff;}

#ogevents .conttop{background:url(../images/ogevents-bg-ie.png) left bottom repeat-x;}

/* Footer */
#footer{width:200px;text-align:right;}