@charset "utf-8";
/* Jary */
/* July 4, 2012 */

/* Popup Box */
.videobox,.eventsbox{box-shadow:2px 2px 3px rgba(0,0,0,0.6),-2px -2px 3px rgba(0,0,0,0.6);
										 -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.6),-2px -2px 3px rgba(0,0,0,0.6);
										 -moz-box-shadow:2px 2px 3px rgba(0,0,0,0.6),-2px -2px 3px rgba(0,0,0,0.6);
										 -o-box-shadow:2px 2px 3px rgba(0,0,0,0.6),-2px -2px 3px rgba(0,0,0,0.6);}								
.videobox .close,.eventsbox .close{width:22px;height:22px;line-height:22px;text-align:center;font-size:160%;background:rgba(0,0,0,0.5);border-radius:22px;border:2px solid rgba(255,255,255,0.5);}
.popupboxbg{background:rgba(0,0,0,0.5);}

/* JQ Scroll Pane */
.jScrollPaneTrack,.jScrollPaneDrag{border-radius:2px;
																	 -webkit-border-radius:2px;
																	 -moz-border-radius:2px;
																	 -o-border-radius:2px;}

/* Header */
#header .menu li .submenu{background:rgba(0,0,0,0.5);}

/* Container */
#sidebar{background:rgba(0,0,0,0.6);}
#sidebar .jScrollPaneTrack{background:rgba(255,255,255,0.3);}
#sidebar .jScrollPaneDrag{background:rgba(255,255,255,0.6);}	

#content .jScrollPaneTrack{background:rgba(0,0,0,0.3);}
#content .jScrollPaneDrag{background:rgba(0,0,0,0.6);}

#products .wrapper{background:-webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.5, #fff), to(#fff));
									 background:-moz-linear-gradient(0 0 270deg, #000 0%, #fff 50%, #fff 100%);
									 background:-o-linear-gradient(0 0 270deg, #000 0%, #fff 50%, #fff 100%);}

#ogevents .conttop{background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#bdbdbd));
									 background:-moz-linear-gradient(0 0 270deg, #fff, #bdbdbd);
									 background:-o-linear-gradient(0 0 270deg, #fff, #bdbdbd);}