@charset "utf-8";
/* Jary */
/* July 16, 2013 */

/* Common */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
html,body{width:100%;min-width:1020px;height:100%;min-height:100%;position:relative;color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.8);font-size:12px;line-height:20px;background:#fff;-webkit-text-size-adjust:none;}
body{font-family:OpenSans Regular,Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,a:hover{color:#666;text-decoration:none;}
li{list-style:none;}
input,textarea,button,select{font-family:inherit;}
button{cursor:pointer;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{font-weight:normal;text-align:left;}
i,em{font-style:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

.f-l{float:left;}
.f-r{float:right;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'\20';display:block;clear:both;}
.mar-t{margin-top:15px;}
.mar-b{margin-bottom:15px;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hide{display:block;font-size:0;line-height:0;overflow:hidden;}
.hidden{display:none;}
.show{display:block;}

@font-face{font-family:"OpenSans Regular";src:url("../font/OpenSans-Regular.ttf") format("truetype");}
@font-face{font-family:"OpenSans Light";src:url("../font/OpenSans-Light.ttf") format("truetype");}

.text_l{text-align:left;}
.text_c{text-align:center;}
.text_r{text-align:right;}

.wrapper{min-height:100%;}
.wrape{width:1020px;margin:0 auto;}

/* Header */
#header{width:100%;height:90px;background:#fff;color:#333;position:relative;}
#header .wrape{position:relative;height:90px;}
#header .logo{width:180px;height:60px;position:absolute;top:15px;left:0;}
#header .logo img{display:block;width:180px;height:60px;}
#header .action{position:absolute;top:15px;right:0;color:#bbb;*z-index:9;*width:193px;}
#header .action span,#header .action a{display:inline-block;height:24px;line-height:24px;color:#666;}
#header .action span strong{margin:0 10px 0 5px;}
#header .action .set{position:relative;width:24px;vertical-align:middle;display:inline-block;margin-left:10px;z-index:100;*float:right;*margin-top:-22px;}
#header .action .set dt{width:24px;height:24px;background:url(../images/og_icon_header.png) center top no-repeat;cursor:pointer;}
#header .action .set dd{display:none;background:#fbaf3a;position:absolute;top:24px;right:0;}
#header .action .set dd a{display:block;height:20px;padding:5px;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);text-align:right;white-space:nowrap;}
#header .action .set dd a:hover{background:#eee;text-decoration:none;color:#333;}

/* Menu */
#menu{height:60px;background:#b60000;z-index:99;position:relative;}
#menu .wrape{position:relative;}
#menu .wrape > ul > li{float:left;padding-right:35px;}
#menu .wrape > ul > li > a{display:inline-block;height:60px;line-height:60px;font-size:18px;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);}
#menu .wrape > ul > li > a:hover,#menu .wrape > ul > .cur > a{color:#ffac4d;background:url(../images/og_arrow_header.png) center 46px no-repeat;}
#menu .wrape > ul > li ul{position:absolute;left:0;top:60px;}
#menu .wrape > ul > li li{float:left;height:36px;margin-right:20px;position:relative;}
#menu .wrape > ul > li li a{display:inline-block;height:36px;line-height:36px;font-size:14px;}
#menu .wrape > ul > li li a:hover,#menu .wrape > ul > li .cur a{color:#df8c2d;}
#menu .wrape > ul > li li a:hover span,#menu .wrape > ul > li .cur a span{display:block;position:absolute;top:29px;left:50%;margin-left:-7px;width:15px;height:8px;background:url(../images/og_arrow_header.png) center -92px no-repeat;}
#menu .cart{position:absolute;top:2px;right:0;height:60px;}
#menu .cart > a{display:block;width:40px;height:60px;line-height:30px;text-align:center;background:url(../images/og_icon_header.png) right -52px no-repeat;position:relative;}
#menu .cart > a i{display:inline-block;height:20px;line-height:20px;font-size:14px;background:#fff;color:#b60000;padding:0 5px;margin-left:6px;font-family:Arial, Helvetica, sans-serif;border-radius:20px;}
#menu .cart ul{display:none;position:absolute;top:57px;left:-170px;border:1px solid #ddd;background:#fff;padding:10px;width:200px;}
#menu .cart li{border-bottom:1px solid #eee;padding:5px 0;height:48px;}
#menu .cart li a{*cursor:pointer;}
#menu .cart li img{float:left;width:48px;height:48px;}
#menu .cart li span,#menu .cart li em{float:left;width:142px;margin-left:10px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#menu .cart li em{color:#c6a85f;}
#menu .cart li.last{border-bottom:none;padding:15px 0 5px 0;height:26px;}
#menu .cart li.last span{width:auto;margin-left:0;}
#menu .cart li.last em{float:none;}
#menu .cart li.last .btn{width:78px;height:26px;line-height:26px;background:#ffad46;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);text-align:center;}
#menu .cart li.last .btn:hover{background:#ffcf71;}
#menu .cart li.last .arrow{position:absolute;top:-8px;left:185px;width:17px;height:8px;background:url(../images/og_icon_header.png) 0 -192px no-repeat;}
#menu .cart:hover ul{display:block;}

#submenu{height:36px;background:#fafafa;border-bottom:1px solid #ddd;z-index:99;}

#navigation{margin-top:20px;font-size:14px;}
#navigation span{margin:0 10px;}
#navigation a{color:#37a;}

/* Content */
#content{position:relative;padding:30px 0 124px 0;}
#content .tem{padding:10px;background:#fff;}
#content .main{width:780px;margin-bottom:15px;}

#content .btn,#content .btn:hover{display:inline-block;text-align:center;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);border:none;cursor:pointer;vertical-align:middle;}
#content .btn.style1,#content .btn.style2{height:60px;line-height:60px;color:#fff;font-size:18px;padding:0 40px;}
#content .btn.style1{background:#ffad46;}
#content .btn.style1:hover{background:#2e88da;}
#content .btn.style2{background:#7b4;font-size:28px;}
#content .btn.style2:hover{background:#88de48;}
#content .btn:disabled,#content .btn:disabled:hover,#content .btn[disabled],#content .btn[disabled]:hover,#content .disabled,#content .disabled:hover{background:#eee;color:#a0a0a0;text-shadow:0 1px 0 rgba(255,255,255,0.8);}

#content .sidebar{width:239px;border-left:1px solid #eee;}
#content .sidebar .tem{margin-bottom:15px;position:relative;}
#content .sidebar .tem h2{padding:0 35px 5px 0;font-size:14px;color:#37b;}
#content .sidebar .tem .more{position:absolute;top:10px;right:10px;}
#content .sidebar .tem .more a{color:#37a;font-size:11px;}
#content .sidebar .tem .more a:hover{text-decoration:underline;}

#content .sidebar .userinfo{padding-top:0;}
#content .sidebar .userinfo .pic{width:68px;height:68px;}
#content .sidebar .userinfo .pic img{display:block;width:68px;height:68px;}
#content .sidebar .userinfo .txt{width:142px;}
#content .sidebar .userinfo .txt strong,#content .sidebar .userinfo .txt span,#content .sidebar .userinfo .txt a{display:block;margin-bottom:2px;line-height:16px;}
#content .sidebar .userinfo .txt strong{font-weight:bold;}
#content .sidebar .userinfo .txt a{height:17px;line-height:17px;padding-left:20px;color:#37a;font-size:12px;background:url(../images/og_icon_sidebar.png) no-repeat;}
#content .sidebar .userinfo .txt a:hover{text-decoration:underline;}
#content .sidebar .userinfo ul{padding:10px 0;border-bottom:1px solid #eee;font-size:11px;}
#content .sidebar .userinfo li span{display:inline-block;width:90px;}
#content .sidebar .userinfo dl{padding-top:10px;}
#content .sidebar .userinfo dt{font-weight:bold;}
#content .sidebar .userinfo dd.num span,#content .sidebar .userinfo dd.num em{display:inline-block;}
#content .sidebar .userinfo dd.num span{width:60px;}
#content .sidebar .userinfo dd.num em{height:5px;background:#f3e7ca;margin:0 5px;}
#content .sidebar .userinfo dd.all{padding-top:5px;}
#content .sidebar .userinfo dd.all span{width:94px;}
#content .sidebar .userinfo dd.all em{font-size:14px;}
#content .sidebar .userinfo dd.all span.f-l{width:84px;border-right:1px solid #ddd;margin-right:10px;}
#content .sidebar .userinfo dd.all span.f-r{text-align:right;}
#content .sidebar .userinfo dd.all span.f-r em{color:#c9ae76;}

#content .sidebar .commissioninfo.hack{margin-bottom:0;}
#content .sidebar .commissioninfo .contbox select{width:220px;padding:2px;border:1px solid #ddd;outline:none;color:#666;}
#content .sidebar .commissioninfo .contbox ul{padding-top:5px;}
#content .sidebar .commissioninfo .contbox li{height:20px;line-height:20px;overflow:hidden;}
#content .sidebar .commissioninfo .contbox li span{float:left;}
#content .sidebar .commissioninfo .contbox li em{float:right;color:#d58e00;}

#content .sidebar .ordersinfo{padding:10px 5px;}
#content .sidebar .ordersinfo h2{padding:0 35px 5px 5px;}
#content .sidebar .ordersinfo table{width:100%;font-size:10px;}
#content .sidebar .ordersinfo th{background:#f6f6f6;padding:0 5px;}
#content .sidebar .ordersinfo td{padding-left:5px;word-break:break-all;word-wrap:break-word;}
#content .sidebar .ordersinfo td.text_r{padding-right:5px;}

#content .sidebar .mobileinfo h2{color:#333;}
#content .sidebar .mobileinfo .pic{width:70px;height:70px;}
#content .sidebar .mobileinfo .pic img{display:block;width:70px;height:70px;}
#content .sidebar .mobileinfo .txt{width:140px;line-height:18px;}
#content .sidebar .mobileinfo .txt p{width:140px;}
#content .sidebar .mobileinfo .txt a{display:block;color:#37a;font-size:10px;}
#content .sidebar .mobileinfo .txt a:hover{text-decoration:underline;}

#content .widget{position:relative;}
#content .widget .tabbtn{border-bottom:1px solid #eee;margin-bottom:20px;}
#content .widget .tabbtn li{float:left;width:119px;height:39px;position:relative;}
#content .widget .tabbtn li a{display:block;width:118px;height:38px;line-height:38px;text-align:center;font-size:15px;position:absolute;top:0;left:0;}
#content .widget .tabbtn li:hover a,#content .widget .tabbtn li.cur a{border:1px solid #eee;border-bottom-color:#fff;border-top-color:#ffab50;border-top-width:2px;height:37px;line-height:36px;color:#333;}
/*#content .widget .action{position:absolute;top:15px;right:15px;}
#content .widget .action a{display:inline-block;height:39px;line-height:39px;color:#37a;padding:0 5px;font-weight:bold;}
#content .widget .action a:hover{text-decoration:underline;}*/

#content .filter{line-height:28px;margin-bottom:20px;font-size:14px;}
#content .filter input[type="submit"]{background:#7b4;border:1px solid #7b4;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);cursor:pointer;padding:5px 10px;}
#content .filter input[type="submit"]:hover{background:#88de48;border:1px solid #88de48;}

#content .filter li{float:left;margin-right:30px;}
#content .filter li.hack{float:right;margin-right:0;}
#content .filter li select{padding:3px 5px;background:#f0f0f0;border:1px solid #e2e2e2;}
#content .filter li input[type="text"]{background:#f0f0f0;border:1px solid #e2e2e2;padding:5px;}

#content .filter table{width:100%;line-height:20px;table-layout:fixed;background:#ebebeb;}
#content .filter th,#content .filter td{vertical-align:top;padding:5px;}
#content .filter td input[type="text"]{width:100%;background:#fff;border:1px solid #e2e2e2;padding:5px;}

#content .basic_tb{width:100%;border-bottom:none;border-top:none;word-break:break-all;word-wrap:break-word;}
#content .basic_tb th,#content .basic_tb td{vertical-align:top;}
#content .basic_tb th{line-height:14px;padding:13px 5px;}
#content .basic_tb td{border-bottom:1px solid #ddd;padding:10px 5px;}
#content .basic_tb.left_tb th,#content .basic_tb.left_tb td{text-align:left;}
#content .basic_tb.center_tb th,#content .basic_tb.center_tb td{text-align:center;}
#content .basic_tb.right_tb th,#content .basic_tb.right_tb td{text-align:right;}
#content .basic_tb th{background:#eee;font-weight:bold;}
#content .basic_tb tr.even td{background:#f9f9f9;}
#content .basic_tb td span{color:#d58e00;}
#content .basic_tb td a{color:#37a;}
#content .basic_tb td a:hover{text-decoration:underline;}
#content .basic_tb th.text_l,#content .basic_tb td.text_l{text-align:left;}
#content .basic_tb th.text_c,#content .basic_tb td.text_c{text-align:center;}
#content .basic_tb th.text_r,#content .basic_tb td.text_r{text-align:right;}

#content .form_tb{table-layout:fixed;}
#content .form_tb td{padding:10px;line-height:36px;vertical-align:top;font-size:14px;}
#content .form_tb td.textright{width:140px;text-align:right;}
#content .ship_contbox .form_tb td.textright{text-align: left!important;}
#content .form_tb p input{border:1px solid #ccc;width:240px;height:30px;padding:2px 20px 2px 2px;text-indent:0.5em;}
#content .form_tb p textarea{border:1px solid #ccc;width:260px;min-width:260px;max-width:260px;height:80px;min-height:80px;max-height:80px;padding:2px;}
#content .form_tb p.hack{display:inline-block;*float:left;}
#content .form_tb p.hack input{width:85px;}
#content .form_tb td label{padding:0 10px;*float:left;}
#content .form_tb input[type="checkbox"]{vertical-align:middle;}
#content .form_tb input.required{background:url(../images/icon_required.png) right center no-repeat;}
#content .form_tb select{padding:7px;border:1px solid #ccc;}
#content .form_tb .error_tip{height:16px;line-height:16px;background:url(../images/user_reg_sprites.png) no-repeat;padding-left:20px;margin-top:5px;color:#9B1112;font-size:12px;}
#content .form_tb.style1{width:60%;}
#content .form_tb.style1 .submit{margin:20px 0 20px 160px;}
#content .form_tb.style2{width:100%;}
#content .form_tb.style2 .submit{margin:20px 10px 20px 0;}

#content .form_tem li{float:left;height:36px;line-height:36px;padding:15px 0;font-size:14px;position:relative;}
#content .form_tem li label,#content .form_tem li p{float:left;height:36px;}
#content .form_tem li label{width:160px;text-align:right;padding-right:20px;}
#content .form_tem li p input{border:1px solid #ccc;width:240px;height:30px;padding:2px 20px 2px 2px;text-indent:0.5em;}
#content .form_tem li p input.required{background:url(../images/icon_required.png) right center no-repeat;}
#content .form_tem li p select{padding:7px;border:1px solid #ccc;}
#content .form_tem li .error_tip{position:absolute;top:55px;left:180px;height:16px;line-height:16px;background:url(../images/user_reg_sprites.png) no-repeat;padding-left:20px;color:#9B1112;font-size:12px;}

#content .form_tem.style1{width:100%;}
#content .form_tem.style1 li{width:50%;}
#content .form_tem.style1 .hack1{width:30%;}
#content .form_tem.style1 .hack2{width:20%;}
#content .form_tem.style1 .hack1 input,#content .form_tem.style1 .hack2 input{width:74px;}
#content .form_tem.style1 .hack2 label{width:20px;}

#content .form_tem.style2{width:100%;}
#content .form_tem.style2 li{width:100%;}
#content .form_tem.style2 .hack1{width:30%;}
#content .form_tem.style2 .hack2{width:20%;}
#content .form_tem.style2 .hack1 input,#content .form_tem.style2 .hack2 input{width:74px;}
#content .form_tem.style2 .hack2 label{width:20px;}

#content .form_tem.style3{width:100%;}
#content .form_tem.style3 li{width:50%;margin-bottom:20px;}
#content .form_tem.style3 li label{width:100%;text-align:left;}
#content .form_tem.style3 .hack1{width:16%;}
#content .form_tem.style3 .hack2{width:34%;}
#content .form_tem.style3 .hack1 input,#content .form_tem.style3 .hack2 input{width:92px;}
#content .form_tem.style3 li .error_tip{left:0;top:90px;}

/* dataTables_filter */
#content .dataTables_wrapper .basic_tb{border:none;}
#content .dataTables_wrapper th{border-top:1px solid #ddd;}
#content .dataTables_wrapper th.sorting span,#content .dataTables_wrapper th.sorting_asc span,#content .dataTables_wrapper th.sorting_desc span,#content .dataTables_wrapper th.tablesorter-header span,#content .dataTables_wrapper th.tablesorter-headerSortDown span,#content .dataTables_wrapper th.tablesorter-headerSortUp span{display:inline-block;padding-right:14px;line-height:14px;background:url(../images/arrow_dataTables.png) no-repeat;cursor:pointer;}
#content .dataTables_wrapper th.sorting span{background-position:right -7px;}
#content .dataTables_wrapper th.sorting_asc span{background-position:right -35px;}
#content .dataTables_wrapper th.sorting_desc span{background-position:right -78px;}
#content .dataTables_wrapper th.tablesorter-header span{background-position:right -7px;}
#content .dataTables_wrapper th.tablesorter-headerSortUp span{background-position:right -35px;}
#content .dataTables_wrapper th.tablesorter-headerSortDown span{background-position:right -78px;}
#content .dataTables_wrapper td.text_r{padding-right:20px;}
#content .dataTables_wrapper .up,#content .dataTables_wrapper .down{display:block;width:16px;height:16px;margin:3px auto;background:url(../images/arrow_dataTables2.png) no-repeat;}
#content .dataTables_wrapper .up{background-position:-2px -2px;}
#content .dataTables_wrapper .down{background-position:-2px -22px;}

/* Page */
#page{padding:20px 0;text-align:right;}
#page span{display:inline-block;}
#page .pagebtn{height:25px;line-height:25px;padding:0 10px;margin:0 2px;background:#eee;border-radius:3px;cursor:pointer;}
#page .pagebtn:hover,#page .pagebtn.current{background:#ffad46;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);}
#page .pagebtn.current{cursor:default;}

.pagination{padding:20px 0;text-align:right;}
.pagination span,.pagination em,.pagination a{display:inline-block;height:25px;line-height:25px;padding:0 10px;margin:0 2px;background:#eee;border-radius:3px;}
.pagination em,.pagination a:hover{background:#ffad46;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);}

/* Popup Box */
.popupbox{display:none;background:#fff;width:50%;left:25%;top:25%;position:fixed;z-index:999;
					box-shadow:2px 2px 5px rgba(0,0,0,0.3);
					-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.3);
					-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.3);
					-o-box-shadow:2px 2px 5px rgba(0,0,0,0.3);}
.popupbox .close{width:60px;height:60px;line-height:60px;text-align:center;font-size:20px;font-family:Arial, Helvetica, sans-serif;position:absolute;top:1px;right:0;cursor:pointer;color:#b50029;}
.popupboxcont{padding:0 20px 20px 20px;}

.popupboxcont .btn,.popupboxcont .btn:hover{display:inline-block;text-align:center;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);border:none;cursor:pointer;vertical-align:middle;}
.popupboxcont .btn.style1,.popupboxcont .btn.style2{height:60px;line-height:60px;color:#fff;font-size:28px;padding:0 30px;}
.popupboxcont .btn.style1{background:#277dcc;}
.popupboxcont .btn.style1:hover{background:#2e88da;}
.popupboxcont .btn.style2{background:#7b4;}
.popupboxcont .btn.style2:hover{background:##88de48;}
.popupboxcont .btn:disabled,.popupboxcont .btn:disabled:hover{background:#999;}

.popupboxcont .form_tb{table-layout:fixed;}
.popupboxcont .form_tb td{padding:5px 10px;line-height:30px;font-size:14px;}
.popupboxcont .form_tb p input{border:1px solid #ccc;width:80%;height:30px;padding:2px 20px 2px 2px;text-indent:0.5em;}
.popupboxcont .form_tb input[type="checkbox"]{vertical-align:middle;}
.popupboxcont .form_tb input.required{background:url(../images/icon_required.png) right center no-repeat;}
.popupboxcont .form_tb select{padding:7px;border:1px solid #ccc;}
.popupboxcont .form_tb .error_tip{height:16px;line-height:16px;background:url(../images/user_reg_sprites.png) no-repeat;padding-left:20px;margin-top:5px;color:#9B1112;}
.popupboxcont .form_tb.style2{width:100%;}
.popupboxcont .form_tb.style2 .submit{margin-right:10px;}

.popupboxbg{display:none;background:#000;opacity:0.5;filter:alpha(opacity=50);width:100%;height:100%;position:fixed;left:0;top:0;z-index:998;}

/* Tips Box 
.infotips{padding:10px;margin-bottom:30px;text-align:center;}
.infotips .icon{display:inline-block;width:30px;height:30px;background:url(../images/icon_tips.png) no-repeat;vertical-align:top;}
.infotips h4{display:inline-block;font-size:18px;line-height:30px;}

.infotips.success{background:#ccffcc;color:#007b00;}
.infotips.success .icon{background-position:0 0;}

.infotips.error{background:#fffbcc;color:#835c00;text-align:left;padding-left:20%;}
.infotips.error .icon{background-position:0 -30px;}
.infotips.error p{font-size:14px;width:450px;margin:10px 0 10px 34px;}

.infotips.failure{background:#ffcecf;color:#6e2022;}
.infotips.failure .icon{background-position:0 -60px;}

.simple-infotips{padding:10px 20px;margin-bottom:30px;text-align:center;}
.simple-infotips p{font-size:14px;}
.simple-infotips.success{background:#ccffcc;color:#007b00;}
.simple-infotips.error{background:#fffbcc;color:#835c00;}
.simple-infotips.failure{background:#ffcecf;color:#6e2022;}*/

/* Tips Box */
.infotips{padding:40px 180px 40px 190px;border:1px solid;margin-bottom:30px;width:528px;min-height:70px;position:relative;}
.infotips .icon{width:70px;height:70px;background:url(../images/og-shoppingtipsicon.png) no-repeat;position:absolute;left:100px;top:40px;}
.infotips h4{font-size:18px;line-height:24px;}
.infotips p{font-size:12px;}
.infotips ul{padding-left:15px;}
.infotips li{font-size:14px;list-style:disc;}
.infotips.failure{border-color:#f0cfc6;background:#fffbf7;color:#581804;}
.infotips.failure .icon{background-position:0 0;}
.infotips.failure2{border-color:#f0cfc6;background:#fffbf7;color:#581804;min-height:0;}
.infotips.failure2 .icon{background-position:0 0;top:20px;}
.infotips.success{border-color:#d3e5ca;background:#f8fff4;color:#163709;}
.infotips.success .icon{background-position:0 -70px;}
.infotips.success h4{line-height:70px;}

/* Footer */
.footer{height:124px;line-height:124px;margin-top:-124px;background:#000;}
.footer p{text-align:center;font-size:14px;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);}

/* Home */
#home .main .m-box{position:relative;margin-bottom:15px;}
#home .main .m-box h2{font-size:16px;color:#d58e00;height:40px;line-height:40px;}
#home .v-content{position:relative;}
#home .v-content-list{width:12345px;position:absolute;top:0;left:0;}

#home .main .m-l{width:210px;min-height:1069px;padding:0;}
#home .main .m-l .notice{background:#fff8e7;border:1px solid #fff0cc;margin-bottom:15px;}
#home .main .m-l .notice h3{color:#d58e00;padding:10px 5px;text-align:center;}
#home .main .m-l .notice .contbox{padding:0 10px 10px 10px;}
#home .main .m-l .notice p span{display:inline-block;width:20px;height:20px;margin:0 5px;vertical-align:sub;background:url(../images/og-homenotice.png) no-repeat;}
#home .main .m-l .notice p span.start{background-position:0 0;}
#home .main .m-l .notice p span.end{background-position:-20px 0;}
#home .main .m-l .m-box{padding:0 10px;}
#home .main .m-boxa .box-btn{position:absolute;top:15px;right:10px;}
#home .main .m-boxa .box-btn li{cursor:pointer;margin:0 2px;float:left;width:15px;height:15px;line-height:11px;text-align:center;color:#fff;background:#cbcbcb;border-radius:15px;font-size:11px;}
#home .main .m-boxa .box-btn li:hover{background:#ffab50;}
#home .main .m-boxa .contbox{height:303px;overflow:hidden;}
#home .main .m-boxa .contbox ul{float:left;width:190px;}
#home .main .m-boxa .contbox li{padding:20px 0;border-bottom:1px solid #eee;}
#home .main .m-boxa .contbox li img{width:90px;height:60px;float:left;margin-right:10px;}
#home .main .m-boxa .contbox li span{display:block;height:60px;line-height:15px;overflow:hidden;}
#home .main .m-boxa .contbox li a{color:#37a;}
#home .main .m-boxa .contbox li a:hover{text-decoration:underline;}

#home .main .m-boxb .contbox{padding:10px 0;}
#home .main .m-boxb .contbox div{display:none;}
#home .main .m-boxb .m-boxbbtn li{float:left;width:54px;height:30px;border:1px solid #fff;position:relative;margin-right:5px;}
#home .main .m-boxb .m-boxbbtn li img{width:54px;height:30px;cursor:pointer;display:block;}
#home .main .m-boxb .m-boxbbtn li:hover,#home .main .m-boxb .m-boxbbtn li.cur{border-color:#bc8f3c;}
#home .main .m-boxb .m-boxbbtn li:hover .arrow,#home .main .m-boxb .m-boxbbtn li.cur .arrow{display:block;width:6px;height:4px;background:url(../images/og-homeicon.png) no-repeat;position:absolute;top:-5px;left:24px;}

#home .main .m-r{width:550px;min-height:1049px;padding-top:0;}
#home .main .m-r .banner{height:72px;margin-bottom:15px;}
#home .main .m-r .banner img{display:block;width:550px;height:72px;}
#home .main .m-r .m-box{padding:0 10px;}
#home .main .m-r .m-box h2{font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;margin-bottom:10px;}
#home .main .m-r .viewmore{width:124px;height:34px;margin:15px 0 10px 0;}
#home .main .m-r .viewmore a{width:124px;height:34px;line-height:34px;background:#7b4;font-size:14px;}
#home .main .m-r .viewmore a:hover{background:#88de48;}
#home .main .m-boxc .contbox li{padding:10px;}
#home .main .m-boxc .contbox li:hover{background:#f2f2f2;}
#home .main .m-boxc .contbox li h3{font-weight:bold;font-size:14px;padding:5px 0;}
#home .main .m-boxc .contbox li p{font-size:11px;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #f2f2f2;}
#home .main .m-boxc .contbox li a{color:#37a;margin:0 5px;}
#home .main .m-boxc .contbox li a:hover{text-decoration:underline;}
#home .main .m-boxc .contbox li em{color:#bbb;}

#home .main .m-boxd .contbox li{border-bottom:1px solid #eee;padding:10px;}
#home .main .m-boxd .contbox li:hover{background:#f2f2f2;}
#home .main .m-boxd .contbox li .pic{width:68px;height:68px;}
#home .main .m-boxd .contbox li .pic img{display:block;width:68px;height:68px;}
#home .main .m-boxd .contbox li .txt{width:432px;}
#home .main .m-boxd .contbox li .txt h3{font-weight:bold;font-size:14px;padding:5px 0;}
#home .main .m-boxd .contbox li .txt p{margin-bottom:5px;}

/* Shopping */
#shopping .main{width:1020px;}
#shopping .main .tem{padding:10px 20px;}
#shopping .packlist{margin-bottom:15px;}
#shopping .packlist:last-child{margin-bottom:0;}
#shopping .packlist h2{height:60px;line-height:60px;border-bottom:1px solid #f7f7f7;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;color:#000;}
#shopping .packlist ul{padding-top:20px;}
#shopping .packlist li{float:left;width:184px;height:252px;margin:0 6px 12px 6px;overflow:hidden;position:relative;}
#shopping .packlist li .pic{width:184px;height:160px;overflow:hidden;text-align:center;vertical-align:middle;display:table-cell;display:block\0/;*display:table-cell;*font-size:130px;}
:root #shopping .packlist li .pic{display:table-cell\9;}
#shopping .packlist li .pic img{max-width:184px;max-height:160px;vertical-align:middle;}
#shopping .packlist li .basicinfo{padding:10px;}
#shopping .packlist li .basicinfo span,#shopping .packlist li .basicinfo em{display:block;width:164px;height:24px;line-height:24px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#shopping .packlist li .basicinfo em{color:#d58e00;font-size:20px;}
#shopping .packlist li .detailedinfo{display:none;position:absolute;top:0;left:0;width:154px;height:202px;padding:40px 15px 10px 15px;z-index:5;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);}
#shopping .packlist li .detailedinfo dt{text-align:center;font-weight:bold;margin-bottom:15px;}
#shopping .packlist li .detailedinfo dd{height:20px;line-height:20px;overflow:hidden;font-size:11px;}
#shopping .packlist li .detailedinfo dd span{float:left;}
#shopping .packlist li .detailedinfo dd em{float:right;}
#shopping .packlist li .detailedinfo .action{padding-top:20px;text-align:center;font-size:14px;color:#fff267;}
#shopping .packlist li .detailedinfo .action a{color:#fff267;padding:0 15px;}
#shopping .packlist li .detailedinfo .action a:hover{text-decoration:underline;}
#shopping .packlist li .shade{display:none;position:absolute;top:0;left:0;width:194px;height:252px;z-index:1;background:#000;filter:alpha(opacity=60);opacity:0.6;}
#shopping .packlist li:hover .detailedinfo,#shopping .packlist li:hover .shade{display:block;}

#shopping .productsbox .contbox{padding:20px 0;}
/*#shopping .productsbox h2{height:60px;line-height:60px;border-bottom:1px solid #f7f7f7;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;color:#000;}*/
#shopping .productsbox .info dt{width:288px;height:288px;border:1px solid #dedede;text-align:center;line-height:288px;margin-right:46px;float:left;}
#shopping .productsbox .info dt img{max-width:288px;max-height:288px;vertical-align:middle;}
#shopping .productsbox .info dd{float:left;width:560px;}
#shopping .productsbox .info dd h4{font-size:24px;color:#000;margin-bottom:20px; font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#shopping .productsbox .info dd p{width:320px;height:40px;line-height:40px;border-bottom:1px solid #eee; font-family:OpenSans Light,Arial,Helvetica,sans-serif;font-size:14px;}
#shopping .productsbox .info dd span{display:inline-block;width:240px;}
#shopping .productsbox .info .price{font-size:24px;color:#d58e00;padding:10px 0;}
#shopping .productsbox .info table{margin:20px 0;}
#shopping .productsbox .info td{padding:5px;font-size:14px;}
#shopping .productsbox .info td input{width:36px;border:1px solid #e2e2e2;padding:2px 5px;}
#shopping .productsbox .info td .btn input{width:auto;border:none;padding:0 40px;}

#shopping .productsbox .txt{border-top:1px solid #d5d5d5;padding-top:20px;margin-top:80px;}
#shopping .productsbox .txt h3{font-weight:bold;height:60px;line-height:60px;border-bottom:1px solid #f7f7f7;font-size:24px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;color:#000;}
#shopping .productsbox .txt p{font-size:14px;line-height:30px;}

/* Commission */
#commission .widget{padding:0 15px;}
#commission .widget .dataTables_wrapper .volume{background:#f3f3f3;padding:20px 40px;}
#commission .widget .dataTables_wrapper .volume dl{float:left;width:20%;}
#commission .widget .dataTables_wrapper .volume dd{color:#999;padding-top:5px;}

#commission .widget .setdualteam{margin-bottom:50px;}
#commission .widget .setdualteam h4{margin-bottom:30px;line-height:100%;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#commission .widget .setdualteam em{font-size:18px;}
#commission .widget .setdualteam em strong{color:#b60000;font-weight:bold;}
#commission .widget .setdualteam ul{margin:20px 0;}
#commission .widget .setdualteam li{float:left;width:208px;padding:10px;text-align:center;border:1px solid #efefef;background:#fbfbfb;margin:0 10px;}
#commission .widget .setdualteam li span{display:block;text-align:center;}
#commission .widget .setdualteam li label{font-weight:bold;}
#commission .widget .setdualteam li.current{border-color:#f0cfc6;background:#fffff6;}
#commission .widget .setdualteam .btn{margin-left:10px;}
#commission .widget .setdualteam .btn button{background:#7b4;border:1px solid #7b4;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);cursor:pointer;padding:5px 10px;}
#commission .widget .setdualteam .btn button:hover{background:#88db48;border:1px solid #88db48;}
#commission .widget .setdualteam .loading{height:30px;line-height:30px;color:#999;margin-left:20px;}
#commission .widget .setdualteam .loading img{vertical-align:middle;margin-right:5px;}
#commission .widget .setdualteam p{padding:20px 0 10px 0;color:#999;font-style:italic;}

#commission .widget .conttable h4{margin-bottom:20px;line-height:100%;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#commission .widget .conttable .classified2{margin-bottom:40px;}
#commission .widget .conttable .classified2 th strong,#commission .widget .conttable .classified2 td strong{font-weight:bold;}
#commission .widget .conttable .classified2 th{font-size:16px;font-weight:normal;}
#commission .widget .conttable .classified2 th span{color:#b60000;}
#commission .widget .conttable .classified2 th .action{float:right;color:#37b;margin-right:10px;}
#commission .widget .conttable .classified2 td{display:none;}

#commission #navigation{margin:0 15px 20px 0;line-height:32px;}
#commission .selectdate{float:right;}
#commission .selectdate select{padding:3px 5px;background:#f0f0f0;border:1px solid #e2e2e2;}
#commission .tablebox h2{margin-bottom:30px;line-height:100%;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#commission .tablebox .basic_tb{margin-bottom:30px;}
#commission .tablebox td dt{border-bottom:1px solid #d5d5d5;}
#commission .tablebox td dt{padding:5px 0 10px 0;}
#commission .tablebox td dd{padding:10px 0;}
#commission .tablebox td dl em{float:left;}
#commission .tablebox td dl i{float:right;}
#commission .tablebox .total td{font-weight:bold;border-bottom:none;}
#commission .tablebox .totalhack td{font-weight:bold;}

/* Report */
#report #navigation{margin:0 15px 20px 0;line-height:32px;}
#report .selectdate{float:right;}
#report .selectdate select{padding:3px 5px;background:#f0f0f0;border:1px solid #e2e2e2;}
#report .widget .filter .checkbox{font-size:12px;line-height:32px;}
#report .tablebox h2{margin-bottom:30px;line-height:100%;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#report .totalsdata .basic_tb{width:50%;border-bottom:1px solid #d5d5d5;}
#report .totalsdata .basic_tb th,#report .totalsdata .basic_tb td{padding:10px 20px;}
#report .totalsdata .basic_tb td{border-bottom:none;}

#report .tablebox .info{font-size:14px;margin-bottom:30px;}
#report .tablebox .info span{display:inline-block;width:50%;}
#report .addressbox{width:50%;margin-bottom:30px;}
#report .addressbox h3{height:60px;line-height:60px;font-size:24px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#report .addressbox td{border-top:1px solid #ddd;border-bottom:none;font-size:14px;}
#report .tablebox .total td{font-weight:bold;border-bottom:none;}
#report .tablebox .total_num{border:none;width:50%;float:right;font-size:14px;margin:10px 0;}
#report .tablebox .total_num td{padding:5px 0;border:none;}

/* Profile */
#profile #content .wrape{margin-bottom:15px;}
#profile .sidebar{margin-bottom:0;border-left:none;}
#profile .sidebar .profilemenu{text-align:right;}
#profile .sidebar .profilemenu dt{height:56px;line-height:56px;margin-bottom:30px;border-bottom:1px solid #efefef;font-size:30px;color:#000;}
#profile .sidebar .profilemenu dd{height:40px;position:relative;}
#profile .sidebar .profilemenu dd a{display:block;width:170px;height:40px;line-height:40px;color:#000;padding-left:40px;font-size:16px;}
#profile .sidebar .profilemenu dd a:hover,#profile .sidebar .profilemenu dd.active a{color:#b60000;}
#profile .main{width:700px;background:#fff;border-left:1px solid #efefef;margin-bottom:0;padding-left:40px;margin-left:39px;}
#profile .main h3{height:50px;line-height:50px;margin-bottom:20px;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}

/* Regedit */
#regedit #content .wrape{margin-bottom:15px;}
#regedit #header{height:90px}
#regedit #menu{height:10px;}
#regedit #menu li{position:absolute;top:-60px;right:0;}
#regedit #menu li a{padding-right:0;color:#0077c8;text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#regedit .main{width:100%;position:relative;}
#regedit .main h2{height:60px;line-height:60px;border-bottom:1px solid #efefef;padding-left:30px;font-size:30px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#regedit .step{position:absolute;top:1px;right:21px;height:50px;line-height:50px;}
#regedit .step span{display:inline-block;width:20px;line-height:20px;text-align:center;border:1px solid #999;border-radius:20px;margin-right:20px;}
#regedit .step1 .a,#regedit .step2 .b,#regedit .step3 .c,#regedit .step4 .d{background:#ffab50;color:#fff;border-color:#ffab50;text-shadow:0 1px 0 rgba(0,0,0,0.3);}
#regedit .contbox{padding:30px 30px 0 30px;}
#regedit .contbox h3{height:60px;line-height:60px;margin-bottom:20px;font-size:24px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#regedit .contbox h3 span{float:right;font-size:14px;color:#333;font-size:12px;}

#regedit .contbox .form_tb{padding-top:20px;}
#regedit .contbox .form_tb.style2 .submit{margin:40px 10px 40px 0;}

#regedit .contbox .basic_tb{border-left:none;border-right:none;}
#regedit .contbox .basic_tb th,#regedit .contbox .basic_tb td{padding:10px;}
#regedit .contbox .basic_tb th{font-size:15px;font-weight:normal;vertical-align:middle;}
#regedit .contbox .basic_tb td{line-height:32px;}
#regedit .contbox .basic_tb td img{display:inline-block;vertical-align:middle;margin:0 5px;} 
#regedit .contbox .basic_tb input[type="text"]{float:right;border:1px solid #ccc;background:#f9f9f9;padding:5px 10px;width:30px;text-align:right;}

#regedit .float-cart{position:fixed;left:50%;bottom:0;z-index:49;width:1020px;margin-left:-510px;height:70px;line-height:70px;background:#faf3e5;box-shadow:0 -2px 2px rgba(0,0,0,0.1);}
#regedit .float-cart dt{padding-left:30px;font-size:26px;color:#d58e00;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#regedit .float-cart dd{padding-right:30px;font-size:14px;}
#regedit .float-cart dd span{padding:0 10px;font-weight:bold;color:#333;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#regedit .float-cart dd i{font-weight:normal;color:#d58e00;margin-left:5px;font-size:24px;}

#regedit .step1 .contbox td{position:relative;float:left;}
#regedit .step1 .contbox .button{position:absolute;top:5px;left:290px;}
#regedit .step1 .contbox .button input{height:36px;padding:0 20px;background:#eee;border:none;cursor:pointer;margin-left:5px; vertical-align:middle;}
#regedit .step1 .contbox .txt{font-size:12px;}
#regedit .step1 .contbox .loading{background:#eee;padding:0 30px;margin-top:10px;font-size:12px;}
#regedit .step1 .contbox .loading img{margin-right:5px;vertical-align:middle;}
#regedit .step1 .contbox .text{padding:5px 0;font-weight:bold;line-height:20px;}
#regedit .step1 .contbox .text a{margin-left:10px;font-weight:normal;color:#37a;}
#regedit .step1 .contbox .info li{font-size:11px;color:#d58e00;line-height:20px;}
#regedit .step1 .contbox  #accept_tc_textarea{width:730px;height:309px;padding:10px;border:1px solid #ccc;font-size:12px;line-height:22px;color:#999;overflow:scroll;overflow-x:hidden;background:#f6f6f6;}
#regedit .step1 .contbox #accept_tc_textarea p{display:block;}
#regedit .step1 .contbox .tips{color:#999;font-size:12px;}
#regedit .step1 .contbox .tips strong{font-weight:bold;}

#regedit .step2{padding-bottom:25px;}

#regedit .step3 .basic_tb{border:none;}
#regedit .step3 .basic_tb th{background:none;font-size:16px;padding:20px 5px;font-weight:normal;}
#regedit .step3 .basic_tb td{border:none;font-size:14px;line-height:24px;}
#regedit .step3 .basic_tb td label{font-size:18px;}
#regedit .step3 .basic_tb td .info-more{font-size:14px;margin-top:15px;color:#666;padding-left:26px;}
#regedit .step3 .basic_tb td .info-more label{font-size:14px;}

#regedit .step4 .total_tb{padding-top:20px;}
#regedit .step4 .total_tb .basic_tb{width:300px;border:none;}
#regedit .step4 .total_tb .basic_tb td{border:none;padding:0 10px;}
#regedit .step4 .total_tb .total td{font-weight:bold;}
#regedit .step4 .address_tb{width:450px;}
#regedit .step4 .address_tb .basic_tb td{border:none;font-size:14px;line-height:24px;}
#regedit .step4 .form_tb.style2 .link{margin-left:10px;color:#37a;}
#regedit .step4 .form_tb.style2 .link:hover{text-decoration:underline;}
#regedit .step4 .form_tb .edit{display:block;font-size:16px;margin-left:20px;color:#37a;}
#regedit .step4 .form_tb .edit:hover{text-decoration:underline;}
#regedit .step4 .form_tb td img{ vertical-align:middle;margin-left:5px;}
#regedit .step4 .info-txt{line-height:24px;padding:10px 10px 10px 35px;font-size:14px;margin-top:10px;}
#regedit .step4 .info-txt span{color:#999;font-size:12px;}
#regedit .step4 .info-txt input{margin:5px 0;}

/* Payment */
#payment #content .wrape{background:#fff;margin-bottom:15px;}
#payment #header{height:90px}
#payment #menu{height:10px;}
#payment #menu li{position:absolute;top:-60px;right:0;}
#payment #menu li a{padding-right:0;color:#0077c8;text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#payment .main{width:100%;position:relative;}
#payment .main h2{height:60px;line-height:60px;border-bottom:1px solid #efefef;padding-left:30px;font-size:30px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#payment .step{position:absolute;top:1px;right:21px;height:50px;line-height:50px;}
#payment .step span{display:inline-block;width:20px;line-height:20px;text-align:center;border:1px solid #999;border-radius:20px;margin-right:20px;}
#payment .step1 .a,#payment .step2 .b,#payment .step3 .c{background:#ffab50;color:#fff;border-color:#ffab50;text-shadow:0 1px 0 rgba(0,0,0,0.3);}
#payment .contbox{padding:30px 30px 0 30px;}
#payment .contbox h3{height:60px;line-height:60px;margin-bottom:20px;font-size:24px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#payment .contbox h3 span{float:right;font-size:14px;color:#333;}
#payment .cart .btn-top{position:absolute;top:30px;right:30px;}
#payment .cart .basic_tb{border:none;}
#payment .cart .basic_tb th{background:none;font-size:16px;padding:20px 5px;font-weight:normal;}
#payment .cart .basic_tb td{padding:20px 5px;border:none;vertical-align:middle;}
#payment .cart .basic_tb td img{display:block;width:184px;height:160px;}
#payment .cart .basic_tb td h4{width:460px;padding:10px 0;line-height:30px;}
#payment .cart .basic_tb td h4 a{font-size:24px;color:#1570a6;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#payment .cart .basic_tb td p{width:460px;margin-bottom:5px;}
#payment .cart .basic_tb td a{font-size:14px;}
/*#payment .cart .basic_tb td select{padding:2px;border:1px solid #ddd;outline:none;margin-top:50px;}*/
#payment .cart .basic_tb td input{border:1px solid #ccc;width:60px;height:30px;padding:2px;text-indent:0.5em;}
#payment .cart .basic_tb td span{display:inline-block;font-size:20px;}
#payment .cart .basic_tb .img{width:184px;}
#payment .cart .basic_tb .subtotal{border-top:1px solid #ddd;font-size:16px;font-weight:bold;}
#payment .cart .basic_tb .subtotal span{margin-top:0;display:inline;font-size:20px;margin-left:20px;}
#payment .cart .btn-bottom{text-align:right;padding:20px 0 30px 0;height:60px;line-height:60px;}
#payment .cart .btn-bottom .empty{border:none;background:none;margin-right:20px;color:#9B1112;font-size:14px;cursor:pointer;}
#payment .cart .btn-bottom .empty:hover{text-decoration:underline;}
#payment .cart .btn-bottom a{font-size:14px;margin-right:30px;color:#37a;}
#payment .cart .btn-bottom a:hover{text-decoration:underline;}

#payment .step2 .contbox{width:620px;}
#payment .step2 .contbox h3 .edit{font-size:16px;margin-left:20px;color:#37a;}
#payment .step2 .contbox h3 .edit:hover{text-decoration:underline;}
#payment .step2 .form_box{width:700px;}
/*#payment .step2 .addressbox{width:290px;}*/
#payment .step2 .simple-infotips{margin-top:30px;width:620px;}
#payment .step2 .basic_tb em,#payment .step2 .form_tb em{margin-right:30px;}

#payment .step2 .basic_tb td label{font-size:18px;}
#payment .step2 .basic_tb td .info-more{font-size:14px;margin-top:15px;color:#666;padding-left:26px;}
#payment .step2 .basic_tb td .info-more label{font-size:14px;}


#payment .step2 .form_tb.style2 .link{margin-left:10px;color:#37a;}
#payment .step2 .form_tb.style2 .link:hover{text-decoration:underline;}
#payment .step2 .form_tb .edit{display:block;font-size:16px;margin-left:20px;color:#37a;}
#payment .step2 .form_tb .edit:hover{text-decoration:underline;}
#payment .step2 .form_tb td img{ vertical-align:middle;margin-left:5px;}

#payment .step2 .info-txt{line-height:24px;padding:10px 10px 10px 35px;font-size:14px;margin-top:10px;}
#payment .step2 .info-txt span{color:#999;font-size:12px;}
#payment .step2 .info-txt input{margin:5px 0;}

#payment .stepbox .basic_tb{border:none;}
#payment .stepbox .basic_tb th{background:none;font-size:16px;padding:20px 5px;font-weight:normal;}
#payment .stepbox .basic_tb td{border:none;font-size:14px;line-height:24px;}

#payment .stepbox .form_tb.style2 .submit{margin:40px 10px 40px 0;}

#payment .stepbox .cartbox{position:absolute;top:91px;right:0;padding-top:0;width:260px;border-left:1px solid #ddd;}
#payment .stepbox .cartbox .basic_tb{border:none;}
#payment .stepbox .cartbox .basic_tb td{border-bottom:1px solid #ddd;padding:20px 0;}
#payment .stepbox .cartbox .basic_tb img{display:block;width:50px;height:50px;}
#payment .stepbox .cartbox .basic_tb a,#payment .stepbox .cartbox .basic_tb i,#payment .stepbox .cartbox .basic_tb span{display:block;}
#payment .stepbox .cartbox .total_tb .basic_tb td{border:none;padding:5px 0;}
#payment .stepbox .cartbox .total_tb .basic_tb .total td{font-weight:bold;}

#payment .popupbox{top:50%;margin-top:-300px;}
#payment .popupbox h2{height:60px;line-height:60px;padding-left:30px;font-size:30px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}

#payment .step3{padding-top:30px;}
#payment .step3 .contbox{padding-bottom:30px;}
#payment .step3 .contbox .basic_tb{border-left:none;border-right:none;margin-bottom:30px;}
#payment .step3 .contbox .basic_tb th,#payment .step3 .contbox .basic_tb td{padding:8px 10px;}
#payment .step3 .contbox .basic_tb th{font-size:15px;font-weight:normal;vertical-align:middle;}
#payment .step3 .contbox .basic_tb td{line-height:26px;padding:15px 10px;font-size:14px;}
#payment .step3 .contbox .basic_tb td img{display:inline-block;vertical-align:middle;margin:0 5px;} 
#payment .step3 .contbox .basic_tb input[type="text"]{float:right;border:1px solid #ccc;background:#f9f9f9;padding:5px 10px;width:30px;text-align:right;}
#payment .step3 .contbox .total_tb .total{font-size:16px;font-weight:bold;border-bottom:none;}

#payment .step3 .contbox .total_num{border:none;width:50%;float:right;}
#payment .step3 .contbox .total_num td{padding:5px 0;border:none;}

#payment .step3 .contbox .goback{clear:both;}
#payment .step3 .contbox .goback a{font-size:16px;color:#37a;}
#payment .step3 .contbox .goback a:hover{text-decoration:underline;}

/* Wallet */
#wallet .walletbox h2{height:60px;line-height:60px;border-bottom:1px solid #f7f7f7;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;color:#000;}
#wallet .walletbox .basic_tb{width:50%;margin-top:25px;border:none;}
#wallet .walletbox .basic_tb td{padding:10px;font-size:14px;border:none;}
#wallet .walletbox .basic_tb td span{color:#d58e00;}

/* Autoship */
#autoship .autoshipbox h2{height:60px;line-height:60px;font-size:30px;font-family:OpenSans Light,Arial,Helvetica,sans-serif;color:#000;}
#autoship .autoshipbox .basic_tb{width:770px;margin-top:25px;}
#autoship .autoshipbox .contbox .btn{margin-top:50px;}

#autoship .popupbox{top:50%;margin-top:-350px;}
#autoship .autoshiplist{padding-top:20px;}
#autoship .autoshiplist li{padding:10px 30px 10px 0;font-size:16px;border-bottom:1px solid #ddd;}

#newautoship #content .wrape{margin-bottom:25px;}
#newautoship #header{height:90px}
#newautoship #menu{height:10px;}
#newautoship #menu li{position:absolute;top:-60px;right:0;}
#newautoship #menu li a{padding-right:0;color:#0077c8;text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#newautoship .main{width:100%;position:relative;}
#newautoship .main h2{height:60px;line-height:60px;border-bottom:1px solid #efefef;padding-left:30px;font-size:30px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#newautoship .contbox{padding:30px 30px 0 30px;}
#newautoship .contbox h3{height:60px;line-height:60px;margin-bottom:20px;font-size:24px;color:#000;font-family:OpenSans Light,Arial,Helvetica,sans-serif;}
#newautoship .contbox h3 span{float:right;font-size:14px;color:#333;font-size:12px;}
#newautoship .selectbox{width:100%;}
#newautoship .selectbox td{font-size:16px;}
#newautoship .selectbox td select{padding:3px 5px;border:1px solid #e2e2e2;}
#newautoship .basic_tb{border-left:none;border-right:none;}
#newautoship .basic_tb th,#newautoship .basic_tb td{padding:10px;}
#newautoship .basic_tb th{font-size:15px;font-weight:normal;vertical-align:middle;}
#newautoship .basic_tb td{line-height:32px;}
#newautoship .basic_tb td img{display:inline-block;vertical-align:middle;margin:0 5px;} 
#newautoship .basic_tb input[type="text"]{float:right;border:1px solid #ccc;background:#f9f9f9;padding:5px 10px;width:30px;text-align:right;}

#newautoship .address_tb .basic_tb{border:none;}
#newautoship .address_tb .basic_tb th{background:none;font-size:16px;padding:20px 5px;font-weight:normal;}
#newautoship .address_tb .basic_tb td{border:none;font-size:14px;line-height:24px;}
#newautoship .address_tb .basic_tb td label{font-size:18px;}
#newautoship .address_tb .basic_tb td .info-more{font-size:14px;margin-top:15px;color:#666;padding-left:26px;}
#newautoship .address_tb .basic_tb td .info-more label{font-size:14px;}