@charset "utf-8";
/* Jary */
/* December 20, 2012 */

/* Common */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;}
html,body{width:100%;height:100%;color:#333;font-size:12px;line-height:1.5em;background:#fff;-webkit-text-size-adjust:none;}
body{font-family:Arial,Geneva,sans-serif;font-weight:300;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,a:visited{color:inherit;text-decoration:none;}
a:hover{color:#79000;}
li{list-style:none;}
input,textarea,button{font-family:inherit;}
button{cursor:pointer;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{font-weight:normal;text-align:left;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
i,em{font-style:normal;}
table{width:100%;border-collapse:collapse;border-spacing:0;}

.f-l{float:left;}
.f-r{float:right;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'\20';display:block;clear:both;}
.wrapper{margin:0 auto;width:1000px;}
.mar-b{margin-bottom:20px;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hide{display:block;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;}

/* Tips Box */
.infotips{padding:40px 180px 40px 190px;border:1px solid;margin-bottom:30px;width:528px;min-height:70px;position:relative;}
.infotips .icon{width:70px;height:70px;background:url(../images/retail/icon-tips.png) no-repeat;position:absolute;left:100px;top:40px;}
.infotips h4{font-size:18px;line-height:24px;}
.infotips p{font-size:12px;}
.infotips ul{padding-left:15px;}
.infotips li{font-size:14px;list-style:disc;}
.infotips.failure{border-color:#f0cfc6;background:#fffbf7;color:#581804;}
.infotips.failure .icon{background-position:0 0;}
.infotips.failure2{border-color:#f0cfc6;background:#fffbf7;color:#581804;min-height:0;}
.infotips.failure2 .icon{background-position:0 0;top:20px;}
.infotips.success{border-color:#d3e5ca;background:#f8fff4;color:#163709;}
.infotips.success .icon{background-position:0 -70px;}
.infotips.success h4{line-height:70px;}

/* Header */
#header{height:110px;background:url(../images/retail/bg_header.png) repeat-x;}
#header .wrapper{position:relative;height:110px;background:url(../images/retail/bg_header2.png) center top no-repeat;}
#header .headerlogo{position:absolute;top:4px;left:0;width:220px;height:70px;background:url(../images/retail/logo_header.png) no-repeat;}
#header .headerlogo a{width:220px;height:70px;}
#header .txt{position:absolute;bottom:32px;right:10px;color:#999;height:30px;line-height:30px;font-size:16px;color:#fff;text-transform:uppercase;}
#header .other{position:absolute;top:10px;right:0;height:30px;}
#header .socialmedia{height:30px;}
#header .socialmedia p{float:right;width:30px;height:30px;margin:0 2px;}
#header .socialmedia a{display:block;width:38px;height:38px;background:url(../images/retail/icon_socialmedia.png) no-repeat;}
#header .socialmedia a#twitter{background-position:-2px -42px;}
#header .socialmedia a#fb{background-position:-40px -42px;}
#header .socialmedia a#yt{background-position:-80px -42px;}
#header .language select{padding:3px 2px;}
#header .userinfo{position:absolute;bottom:0;left:10px;width:100%;height:32px;}
#header .userinfo span{font-size:14px;color:#fff;text-transform:uppercase;line-height:32px;}
#header .userinfo span a,#header .userinfo span a:hover{color:#fff;}
#header .userinfo i{font-style:normal;}

#container{padding:20px 0;}

/* Container */
#sidebar{width:145px;padding-right:17px;float:left;}
#sidebar .search{background:#790000;margin-bottom:10px;}
#sidebar .search form{width:145px;height:32px;background:url(../images/retail/bg_search.png) no-repeat;}
#sidebar .search .text{width:104px;height:32px;padding:0 3px;border:none;background:none;}
#sidebar .search .btn{width:32px;height:32px;border:none;background:none;cursor:pointer;}
#sidebar .sidemenu dt{height:24px;border-bottom:1px solid #790000;}
#sidebar .sidemenu dt h2{float:left;width:129px;height:24px;overflow:hidden;color:#790000;font-size:14px;line-height:24px;text-transform:uppercase;}
#sidebar .sidemenu dt span{float:right;width:16px;height:24px;background:url(../images/retail/icon_sidebar.png) no-repeat;cursor:pointer;}
#sidebar .sidemenu dt .open{background-position:0 0;}
#sidebar .sidemenu dt .close{background-position:0 -24px;}
#sidebar .sidemenu dd{padding:5px;}
#sidebar .sidemenu dd a{display:block;color:#666;font-size:12px;height:20px;line-height:20px;overflow:hidden;}
#sidebar .sidemenu dd a:hover,#sidebar .sidemenu dd .current{color:#790000;}

#sidebar .shoppingcart{background:#790000;padding:5px;}
#sidebar .shoppingcart dt h2{float:left;width:119px;color:#fff;font-size:14px;text-transform:uppercase;}
#sidebar .shoppingcart dt span{float:right;width:16px;height:24px;background:url(../images/retail/icon_sidebar.png) no-repeat;cursor:pointer;}
#sidebar .shoppingcart dt .open{background-position:0 -48px;}
#sidebar .shoppingcart dt .close{background-position:0 -72px;}
#sidebar .shoppingcart .list{margin:5px 0;padding:5px;background:#fff;}
#sidebar .shoppingcart .list li{height:24px;line-height:24px;}
#sidebar .shoppingcart .list li .del{float:left;width:20px;height:24px;background:url(../images/retail/icon_sidebar.png) 0 -96px no-repeat;cursor:pointer;}
#sidebar .shoppingcart .list li a{float:left;width:84px;height:24px;overflow:hidden;color:#666;}
#sidebar .shoppingcart .list li a:hover{color:#790000;}
#sidebar .shoppingcart .list li em{float:right;}
#sidebar .shoppingcart .other{margin:5px 0;padding:5px;color:#fff;}
#sidebar .shoppingcart .other li{height:20px;line-height:20px;}
#sidebar .shoppingcart .other span{float:left;font-size:10px;}
#sidebar .shoppingcart .other em{float:right;}
#sidebar .shoppingcart .more{margin:5px 0;color:#fff;}
#sidebar .shoppingcart .more a,#sidebar .shoppingcart .more a:hover{display:block;text-align:center;color:#fff;font-weight:bold;}

#content{width:820px;padding-left:17px;border-left:1px solid #dedede;float:right;}

.contbanner{width:820px;height:270px;}
.contbanner img{display:block;width:820px;height:270px;}
.contbox1{clear:both;}
.contbox1 h2{height:50px;position:relative;}
.contbox1 h2 span{float:left;height:50px;line-height:50px;font-size:20px;padding-right:20px;background:#fff;color:#666;position:relative;z-index:9;}
.contbox1 h2 em{width:100%;height:1px;background:#dedede;position:absolute;left:0;top:24px;}

.contbox1 .list li{float:left;width:198px;border:1px solid #dedede;margin:5px 2px;position:relative;}
.contbox1 .list h3{height:35px;line-height:35px;overflow:hidden;color:#fff;font-size:16px;text-align:center;background:url(../images/retail/icon_cont.png) no-repeat;}
.contbox1 .list img{display:block;width:198px;height:198px;}
.contbox1 .list p{padding:5px 10px;text-align:center;color:#666;height:32px;line-height:16px;overflow:hidden;}
.contbox1 .list .star{width:90px;height:25px;background:url(../images/retail/icon_cont.png) 0 -70px no-repeat;float:left;margin:0 0 5px 30px;}
.contbox1 .list .cart{width:25px;height:25px;background:url(../images/retail/icon_cont.png) -175px -70px no-repeat;float:right;margin:0 30px 5px 0;}
.contbox1 .list .cart a{display:block;width:25px;height:25px;}
.contbox1 .labelbox{position:absolute;top:68px;right:0;width:30px;height:133px;background:url(../images/retail/icon_label.png) no-repeat;}

.contbox1 .otherstyle h3{background-position:0 -35px;}
.contbox1 .otherstyle .labelbox{background-position:-30px 0;}

.recently .list li{border-color:#fff;}
.recently .list h3{background:none;color:#666;}
.recently .list .cart{float:none;margin:0 auto;}
.recently .labelbox{top:33px;}

.contbox2 .boxleft{width:432px;overflow:hidden;}
.contbox2 .prodpic{width:430px;height:528px;border:1px solid #dedede;}
.contbox2 .prodpic img{display:block;width:430px;height:528px;}
.contbox2 .prodaction{margin-top:10px;}
.contbox2 .prodaction a{display:inline-block;font-size:14px;color:#666;background:url(../images/retail/icon_prod.png) no-repeat;line-height:35px;padding-right:40px;}
.contbox2 .prodaction a:hover{color:#790000;}
.contbox2 .prodaction .likeus{background-position:right 0;}
.contbox2 .prodaction .addcart{border-left:1px solid #dedede;margin-left:30px;padding-left:30px;background-position:right -35px;}
.contbox2 .boxright{width:358px;color:#666;}
.contbox2 .boxright h2{font-size:20px;line-height:30px;margin-top:20px;border-bottom:1px solid #dedede;}
.contbox2 .boxright h2 strong{font-size:30px;}
.contbox2 .boxright span{line-height:40px;font-size:18px;}
.contbox2 .boxright .pirce{border-top:1px solid #dedede;margin-top:20px;padding-top:20px;}
.contbox2 .boxright .pirce em{font-size:30px;line-height:40px;}
.contbox2 .boxright .pirce a{display:block;width:220px;}
.contbox2 .boxright .pirce a:hover{color:#790000;}

.checkstep{padding:10px 0;}
.checkstep .stepbox li{float:left;width:240px;height:40px;line-height:40px;padding-left:60px;position:relative;font-size:20px;border-bottom:5px solid #ececec;}
.checkstep .stepbox .step1{width:220px;padding:0;}
.checkstep .stepbox .active{border-bottom-color:#8dc73f;}
.checkstep .stepbox .active span{display:block;width:17px;height:17px;background:url(../images/retail/icon_step.png) no-repeat;position:absolute;right:-8px;bottom:-10px;z-index:9;}

.checkstep .stepboxend .step1,.checkstep .stepboxend .step3{width:220px;}
.checkstep .stepboxend .step2{width:320px;padding-left:0;text-align:center;font-size:24px;color:#8dc63f;}

.checktxt p{padding-top:20px;font-size:12px;color:#666;}
.checktxt p em{color:#790000;font-weight:bold;font-size:20px;vertical-align:sub;}


.cartlist th{font-size:24px;line-height:40px;color:#790000;border-bottom:1px solid #dedede;}
.cartlist td{padding:5px;font-size:16px;color:#666;}
.cartlist .del{float:left;width:20px;height:24px;margin-top:12px;background:url(../images/retail/icon_sidebar.png) 0 -96px no-repeat;}
.cartlist .del a{display:block;width:20px;height:24px;}
.cartlist a img{display:inline-block;width:48px;height:48px;vertical-align:middle;}
.cartlist a{color:#666;}
.cartlist a:hover{color:#790000;}
.cartlist .total{border-top:1px solid #dedede;}
.cartlist .total ul{float:right;width:220px;}
.cartlist .total li{height:24px;line-height:24px;overflow:hidden;}
.cartlist .total span{float:left;}
.cartlist .total em{float:right;}
.cartlist .total strong{font-weight:bold;}
.btnbox{float:right;padding:20px 0;}
.btnbox_c{float:left;}
.btnbox .cancel,.btnbox .btn{display:inline-block;width:110px;height:35px;overflow:hidden;background:url(../images/retail/btn_checkout.png) no-repeat;font-size:16px;color:#790000;}
.btnbox .cancel{line-height:35px;text-align:center;}
.btnbox .btn{vertical-align:top;border:none;cursor:pointer;}

.actionbox{float:left;padding:20px 0;}
.actionbox .empty,.actionbox .btn{display:inline-block;height:24px;overflow:hidden;font-size:14px;color:#790000;margin-top:6px;}
.actionbox .empty{vertical-align:top;border:none;background:url(../images/retail/icon_sidebar.png) 0 -95px no-repeat;padding-left:20px;margin-left:7px;cursor:pointer;}
.actionbox .btn{line-height:24px;background:url(../images/retail/icon_cont.png) -170px -70px no-repeat;padding-left:25px;margin-left:17px;}

.formlist th{font-size:24px;line-height:40px;color:#790000;border-bottom:1px solid #dedede;}
.formlist td{padding:5px;font-size:16px;color:#666;font-size:12px;}
.formlist .title{width:120px;}
.formlist input{width:50%;}
.formlist input.hack{width:17%;}
.formlist input{border:1px solid;border-color:#989898 #e1e1e1 #e1e1e1 #989898;height:20px;padding:2px 20px 2px 2px;}
.formlist input.required{background: url(../images/retail/icon-required.png) right 3px no-repeat;}
.formlist select{padding:2px;}
.formlist .radio{width:auto;height:auto;}
.formlist .tips{width:140px;display:inline-block;margin-left:30px;vertical-align:top;}
.formlist p a,.formlist p a:hover{color:#790000;text-decoration:underline;}
.formlist .error_tip{font-size:10px;color:#9B1112;}
.otherlist{width:50%;}
.otherlist .tips{display:block;margin-left:0;}
.shippinglist td{padding-top:20px;}
.shippinglist span{color:#790000;}

.infolist th{font-size:24px;line-height:40px;color:#790000;border-bottom:1px solid #dedede;}
.infolist td{padding:5px;font-size:16px;color:#666;font-size:12px;}
.infolist .title{width:100px;}

.trybox{height:256px;}
.trybox img{display:block;width:820px;height:256px;}

.checkout1{padding:10px 0;}

.checkout2{margin:30px 0 10px 0;}
.checkout2 .week{width:594px;height:280px;}
.checkout2 .week img{display:block;width:594px;height:280px;}

.checkout2 .seller li{float:left;width:198px;border:1px solid #dedede;margin:0 2px;}
.checkout2 .seller h3{height:35px;line-height:35px;overflow:hidden;color:#fff;font-size:16px;text-align:center;background:url(../images/retail/icon_cont.png) 0 -35px no-repeat;}
.checkout2 .seller img{display:block;width:198px;height:161px;}
.checkout2 .seller p{padding:5px 10px;text-align:center;color:#666;height:32px;line-height:16px;overflow:hidden;}
.checkout2 .seller .star{width:90px;height:25px;background:url(../images/retail/icon_cont.png) 0 -70px no-repeat;float:left;margin:0 0 5px 30px;}
.checkout2 .seller .cart{width:25px;height:25px;background:url(../images/retail/icon_cont.png) -175px -70px no-repeat;float:right;margin:0 30px 5px 0;}
.checkout2 .seller .cart a{display:block;width:25px;height:25px;}

.checkout3{padding:10px 0;width:405px;}
.checkout3 .infolist{margin-bottom:20px;}
.checkout3 .cartlist td{font-size:12px;}
.checkout3 .cartlist .del{margin-top:0;height:16px;background-position:0 -98px;}
.checkout3 .cartlist a{float:left;width:230px;}

.creditcard .textinfo{padding:10px 20px;border:1px solid #efefef;background:#fefefe;margin:20px 0;line-height:24px;}
.creditcard .card select{padding:4px;}

.checkout3 .borderbox{border:1px solid #dedede;padding:5px 10px;} 
.checkout3 .borderbox .title{width:auto;}
.checkout3 .borderbox .infolist th{font-size:16px;}
.checkout3 .borderbox .infolist th em{font-size:12px;}
.checkout3 .borderbox span{color:#790000;}
.checkout3 .btnbox{padding:10px 0;}
.checkout3 .tips{padding:10px 0 10px 80px;background:url(../images/retail/icon_tips.png) 10px 23px no-repeat;}
.checkout3 .tips p{color:#666;}

.completebox{padding:60px 0;color:#666;font-size:16px;text-align:center;}
.completebox strong{display:block;font-size:50px;line-height:100%;font-weight:normal;}
.completebox p{padding:20px 50px;line-height:20px;}
.completebox em{color:#790000;}
.completebox .btnbox{text-align:center;}
.completebox .continue{display:inline-block;width:180px;height:35px;overflow:hidden;background:url(../images/retail/btn_checkout2.png) no-repeat;font-size:16px;color:#790000;line-height:35px;text-align:center;}

/* Footer */
#footer{height:130px;background:url(../images/retail/bg_footer.png) repeat-x;}
#footer .wrapper{position:relative;height:130px;background:url(../images/retail/bg_footer2.png) center top no-repeat;}
#footer .socialmedia{height:40px;position:absolute;top:20px;right:20px;}
#footer .socialmedia p{float:right;width:38px;height:38px;margin:4px 2px;}
#footer .socialmedia a{display:block;width:38px;height:38px;background:url(../images/retail/icon_socialmedia.png) no-repeat;}
#footer .socialmedia a#twitter{background-position:-1px -1px;}
#footer .socialmedia a#fb{background-position:-50px -1px;}
#footer .socialmedia a#yt{background-position:-102px -1px;}
#footer .copyright{height:30px;line-height:30px;font-size:12px;position:absolute;top:80px;right:20px;color:#fff;}